{% extends "todo/base.html" %}

{% block content_title %} Sign Up {% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="form-group">
        {% if form.username.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.username.errors }}
        </div>
        {% endif %}
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
        <small id="usernameHelp" class="form-text text-muted">Your username
            must be unique. We'll let you know if someone has taken it
            already.</small>
    </div>

    <div class="form-group">
        {% if form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.email.errors }}
        </div>
        {% endif %}
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        {% if form.password1.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.password1.errors }}
        </div>
        {% endif %}
        <label for="{{ form.password1.id_for_label }}">Password</label>
        {{ form.password1 }}
    </div>

    <div class="form-group">
        {% if form.password2.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.password2.errors }}
        </div>
        {% endif %}
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        {{ form.password2 }}
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
<hr>
<div class="text-center">
    Do you already have an account? <a href="{% url 'loginuser' %}">Login
    here</a>
</div>
{% endblock content %}
