{% extends 'todo/base.html' %}

{% block title %} {{ todo.title }} {% endblock title %}

{% block content %}

<br>
{{ error }}
<br>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<br>

<form method="POST" action="{% url 'todo:complete_todo' todo.slug %}">
    {% csrf_token %}
    <button type="submit">Complete</button>
</form>

<br>

<form method="POST" action="{% url 'todo:delete_todo' todo.slug %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>


{% endblock content %}